

@media screen and (max-width: 767px) {
  .menu-list{
    display:none;
  }
}

// .menu-list {
//     display: flex;
//     &__link{
//         font-weight: 500;
//         font-size: 14px;
//         line-height: 1.14;
//         letter-spacing: 0.02em;
//         color: var(--main-color);
//         transition-property:color; 
//         &:hover,
//         &:focus{
//             color: var(--accent-color);
//         }
//     }
//   }
  
//   .menu-list__item:not(:last-child) {
//     margin-right: 50px;
//   }




  
 